
.cq-content .rows1{ width: 122px;}
.cq-content .rows2{width: 900px; margin-right: 302px;}
.cq-content .right-operate{ width: 302px;}
.cq-content .jt{ right: 302px}/*
.p-title{width: 900px;} */
.operate-nr .inputborder{ width: 99px;}
.operate-nr .poplayer select{ width: 130px;}