.cq-content{ width: 1196px; margin: 0 auto;}
.cq-content .rows1{ width: 122px;}
.cq-content .rows2{width: 859px; }
.cq-content .right-operate{width: 302px;}/*
.p-title{width: 859px;}  */
/* .cq-content{ width: 1276px; margin: 0 auto;}
.cq-content .rows1{ width: 122px;}
.cq-content .rows2{width: 900px; margin-right: 251px;}
.cq-content .right-operate{ width: 244px;}
.cq-content .jt{ right: 301px}
.p-title{width: 900px;} */
.operate-nr .inputborder{ width: 50px;}
.operate-nr .poplayer select{ width: 98px;}
